<h1>Application Exemple</h1>

<p>
  C'est la page d'accuile pour l'application exemple du
  <a href="http://railstutorial.org/">Tutoriel Ruby on Rails</a>.
</p>
<%= link_to "S'inscrire !", signup_path, :class => "signup_button round" %> 